!!! 5
html(lang="en")
  head
    title #{title}
    link(rel='stylesheet',type='text/css',href='/css/reset.css')
    link(rel='stylesheet',type='text/css',href='/css/main-stylesheet.css')
    link(rel='stylesheet',type='text/css',href='/css/shortcodes.css')
    link(rel='stylesheet',type='text/css',hreff='/css/color-light.css')
    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Ropa+Sans')
    link(rel='stylesheet',type='text/css',href='/css/jquery/jquery-ui-1.8.16.custom.css')
    script(type='text/javascript',src='/js/external/jquery-1.6.2.min.js')
    script(type='text/javascript',src='/js/external/jquery-ui-1.8.16.custom.min.js')
    script(type='text/javascript',src='/js/global.js')
    script(type='text/javascript',src='/js/validation.js')
    !{header}
  body.top
    .main-body-wrapper
      .main-header-wrapper
        .main-header
          .logo
            a.image(href='/',alt='Cosbomb')
              img(src="/images/layout/logo.png")
            span It's not a phase dad!
          .search
            input.trans-1(type="text",placeholder="search here")
      .main-content-wrapper
        .main-menu
          table
            tr
              td
                ul
                  li
                    a(href='/cosplay/') Cosplays
                  li
                    a(href='/user/') Cosplayers
                  li
                    a(href='/photo/') Photos
                  li
                    a(href='/tutorial/') Tutorials
                  li
                    a(href='/forum/') Forum
                  -if (!currentUser.loggedIn)
                    li 
                      a(href='/user/register/') Register
                  -else
                    li!= currentUser.link
                      ul
                        li
                          a(href='/cosplay/manage/') Cosplays
                        li
                          a(href='/photo/manage/') Pictures
                        li
                          a(href='/tutorial/manage/') Tutorials
                        li
                          a(href='/user/edit/') Settings
                        li
                          a(href='/user/logout/') Logout
        .two-columns-wrapper
          .two-columns-left
            .blog-list
              -if (errors.length != 0)
                .container
                  h2 
                    a Error!
                  for error in errors
                    p!= error
              div!= body
        .two-columns-right.sidebar
          .sidebar-item
            .latest-activity
            -if (!currentUser.loggedIn)
              .sidebar-title
                b Login
              form(method='post')
                ul
                  li
                    input(name='email',placeholder='Email Address',type='text')
                  li
                    input(name='password',placeholder='Password',type='password')
                  li
                    input(type='submit',name='login',value='Login')
            -else
              .sidebar-title
                b #{currentUser.name}
              p!=currentUser.avatar
              a(href='/user/logout/') Logout