!!! 5
html(lang="en")
  head
    title #{title}
    script(type='text/javascript',src='/js/jquery-1.6.2.min.js')
    script(type='text/javascript',src='/js/jquery-ui-1.8.16.custom.min.js')
    script(type='text/javascript',src='/js/validation.js')
    script(type='text/javascript',src='/js/global.js')
    link(rel='stylesheet',type='text/css',href='/css/reset.css')
    link(rel='stylesheet',type='text/css',href='/css/main-stylesheet.css')
    link(rel='stylesheet',type='text/css',href='/css/shortcodes.css')
    link(rel='stylesheet',type='text/css',href='/css/color-ligzht.css')
    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet',type='text/css',href='http://fonts.googleapis.com/css?family=Ropa+Sans')
    link(rel='stylesheet',type='text/css',href='/css/jquery/jquery-ui-1.8.16.custom.css')
    !{header}
    script(type='text/javascript')!=js_inline
  body.top
    .main-body-wrapper
      .main-header-wrapper
        .main-header
          .logo
            a.image(href='/',alt='Lost Cos')
              img(src="/images/layout/logo.png")
            span It's not a phase dad!
          .search
            input.trans-1(type="text",placeholder="search here")
      .main-content-wrapper
        .main-menu
          table
            tr
              td
                ul
                  li
                    a(href='/') Homepage
                  li
                    a(href='/photo/gallery/') Gallery
                  li
                    a(href='/tutorial/') Tutorials
                  li
                    a(href='/forum/') Forum
                  -if (!currentUser.loggedIn)
                    li 
                      a(href='/user/register/') Register
                  -else
                    li!= currentUser.link
                      ul
                        li
                          a(href='/photo/create/') Submit Picture
                        li
                          a(href='/tutorial/create/') Submit Tutorial
                        li
                          a(href='/user/edit/') Settings
                        li
                          a(href='/user/logout/') Logout
        .two-columns-wrapper
          .two-columns-left
            .blog-list
              -if (errors.length != 0)
                .container
                  h2 
                    a Error!
                  for error in errors
                    p!= error
              div!= body
        .two-columns-right.sidebar
          .sidebar-item
            .latest-activity
            -if (!currentUser.loggedIn)
              .sidebar-title
                b Login
              form(method='post')
                input(name='email',placeholder='Email Address')
                input(name='password',placeholder='Password',type='password')
                input(type='submit',name='login',value='Login')
            -else
              p Welcome noob #{currentUser.displayName}!
              p!=currentUser.avatar
              a(href='/user/logout/') Logout